<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bravoo App</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900" rel="stylesheet">
		<link rel="stylesheet" href="/assets/css/foundation.css">
    <link rel="stylesheet" href="/assets/css/student_dashboard.css">
    <link rel="stylesheet" href="/assets/css/app.css">
  </head>
	<body>



<nav role="navigation">
    <div class="buttons-wrap">
      <a class="button login-btm" href="signin">Log in</a>
      <a class="button register-btm" href="signup">Register</a>
    </div>
  <ul id="overlay-nav-menu" class="overlay-nav-menu">
    <li><a href="index.html">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  <a data-toggle-menu class="overlay-nav-menu-toggle" href="#overlay-nav-menu"><i class="fa fa-plus"></i></a>
</nav>


<div class="row wrapper">
  <div class="large-12 large-centered columns">
    <div class="row">
      <div class="large-12 columns logo-wrap">



<ul class="Words">
  <li class="Words-line">
    <p>&nbsp;</p>
    <p class="bravoo">Bravoo</p>
  </li>
  <li class="Words-line">
    <p class="bravoo">Bravoo</p>
    <p>A homework</p>
  </li>
  <li class="Words-line">
    <p>A homework</p>
    <p>reminder</p>
  </li>
  <li class="Words-line">
    <p>reminder</p>
    <p class="with">with</p>
  </li>
  <li class="Words-line">
    <p class="with">with</p>
    <p>incentive</p>
  </li>
  <li class="Words-line">
    <p>incentive</p>
    <p>application.</p>
  </li>
  <li class="Words-line">
    <p>application</p>
    <p>&nbsp;</p>
  </li>
</ul>

  </div>
  </div>

</div>
</div>

<script src="/assets/js/vendor/jquery.js"></script>
<script src="/assets/js/vendor/what-input.js"></script>
<script src="/assets/js/vendor/foundation.js"></script>
<script src="/assets/js/app.js"></script>



<script>
$('[data-toggle-menu]').on("click", function(){
  $("#overlay-nav-menu").toggleClass("is-open");
});

</script>
</body>
</html>
