<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bravoo App</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">



  </head>
  <body>
    <nav role="navigation">
      <ul id="overlay-nav-menu" class="overlay-nav-menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <a data-toggle-menu class="overlay-nav-menu-toggle" href="#overlay-nav-menu"><i class="fa fa-plus"></i></a>
    </nav>


<div class="row wrapper">
  <div class="large-12 large-centered columns">
    <div class="row">
      <div class="large-12 columns logo-wrap">



<ul class="Words">
  <li class="Words-line">
    <p>&nbsp;</p>
    <p class="bravoo">Bravoo</p>
  </li>
  <li class="Words-line">
    <p class="bravoo">Bravoo</p>
    <p>A homework</p>
  </li>
  <li class="Words-line">
    <p>A homework</p>
    <p>reminder</p>
  </li>
  <li class="Words-line">
    <p>reminder</p>
    <p>with</p>
  </li>
  <li class="Words-line">
    <p>with</p>
    <p>incentive</p>
  </li>
  <li class="Words-line">
    <p>incentive</p>
    <p>application.</p>
  </li>
  <li class="Words-line">
    <p>application.</p>
    <p>&nbsp;</p>
  </li>
</ul>

  </div>
  </div>




<div class="row">
<div class="large-4 large-centered columns buttons-wrap">
<button type="button" class="button login-btm" data-open="login_modal">Log in</button>
<button type="button" class="button register-btm" data-open="register_modal">Register</button>
</div>
</div>



</div>
</div>

<div class="reveal" id="login_modal" data-reveal>

  <form class="log-in-form">
    <h4 class="text-center">Log in with you email account</h4>
    <label>Email
      <input type="email" placeholder="somebody@example.com">
    </label>
    <label>Password
      <input type="password" placeholder="Password">
    </label>
    <p><input type="submit" class="button expanded" value="Log in"></input></p>
  </form>



  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="reveal" id="register_modal" data-reveal>
  <h1>Register</h1>
 <p class="lead">I'm a </p>
    <button type="button" class="button primary" data-open="teacher_modal">Teacher</button>
    <button type="button" class="button primary" data-open="guardian_student_modal">Guardian</button>
    <button type="button" class="button primary" data-open="guardian_student_modal">Student</button>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- This is the nested modal - teacher form-->
<div class="reveal" id="teacher_modal" data-reveal>
  <form class="log-in-form">
    <h4 class="text-center">Register</h4>
    <label>Name
      <input type="text" name="name" id="name" placeholder="Full Name">
    </label>
    <label>Email
      <input type="email" name="email" id="email" placeholder="somebody@example.com">
    </label>
    <label>Create Password
      <input type="password" name="password" id="password" placeholder="Password">
    </label>
    <label>Teacher ID
      <input type="text" name="teacher_id" id="teacher_id" placeholder="Teacher ID">
    </label>
    <label>School Name
      <input type="text" name="school" id="school" placeholder="School Name">
    </label>
    <p><input type="submit" class="button expanded" value="Log in"></input></p>
  </form>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- This is the nested modal - guardian and student form -->
<div class="reveal" id="guardian_student_modal" data-reveal>
  <form class="log-in-form">
    <h4 class="text-center">Register</h4>
    <label>Name
      <input type="text" name="name" id="name" placeholder="Full Name">
    </label>
    <label>Email
      <input type="email" name="email" id="email" placeholder="somebody@example.com">
    </label>
    <label>Create Password
      <input type="password" name="password" id="password" placeholder="Password">
    </label>
    <label>Student Name
      <input type="text" name="student_name" id="student_name" placeholder="Student Name">
    </label>
    <label>Student School ID
      <input type="text" name="student_id" id="student_id" placeholder="Student ID">
    </label>
    <label>School Attending
      <input type="text" name="school" id="school" placeholder="School Name">
    </label>
    <p><input type="submit" class="button expanded" value="Log in"></input></p>
  </form>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>



    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>



    <script>
    $('[data-toggle-menu]').on("click", function(){
      $("#overlay-nav-menu").toggleClass("is-open");
    });

    </script>


  </body>
</html>
